.desktop-1-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 1455px;
  height: 761px;
  object-fit: cover;
}
.zm-ve-hizmetler {
  position: relative;
  line-height: 20px;
}
.letiim-wrapper,
.zm-ve-hizmetler-parent {
  position: absolute;
  display: flex;
  flex-direction: row;
}
.zm-ve-hizmetler-parent {
  top: -7px;
  left: 590px;
  width: 609px;
  height: 21px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}
.letiim-wrapper {
  top: -17px;
  left: 1240px;
  border-radius: 5px;
  background-color: var(--color-tomato-100);
  width: 92px;
  height: 41px;
  padding: var(--padding-3xs) 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: var(--default-white);
}
.bilgi-teknolojilerinde {
  margin: 0;
}
.bilgi-teknolojilerinde-23-container {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 82px;
  font-weight: 800;
  display: inline-block;
  width: 671.98px;
  height: 165.59px;
}
.mterilerimizin-yksek-kalite {
  position: absolute;
  top: 185.79px;
  left: 0;
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 36px;
  display: inline-block;
  width: 656.83px;
  height: 99.96px;
}
.mail-input-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--default-white);
  width: 507.27px;
  height: 73.71px;
}
.mail-bltenimize-kayt {
  position: absolute;
  top: 19.18px;
  left: 32.34px;
  letter-spacing: 0.2px;
  line-height: 36px;
  display: inline-block;
  width: 179.87px;
  height: 36.35px;
}
.mail-input-item {
  position: absolute;
  top: 6.06px;
  left: 363.78px;
  border-radius: var(--br-5xs);
  background-color: var(--color-tomato-100);
  width: 137.43px;
  height: 61.59px;
}
.kayt-ol {
  position: absolute;
  top: 19.18px;
  left: 401.17px;
  letter-spacing: 0.2px;
  line-height: 36px;
  display: inline-block;
  color: var(--default-white);
  width: 61.64px;
  height: 36.35px;
}
.mail-input {
  position: absolute;
  top: 336.23px;
  left: 0;
  width: 507.27px;
  height: 73.71px;
  font-size: var(--heading-bold-heading-6-16-size);
  color: rgba(0, 0, 0, 0.4);
}
.bilgi-teknolojilerinde-23-yll-parent {
  position: absolute;
  top: 149.94px;
  left: 123.28px;
  width: 671.98px;
  height: 409.94px;
  font-size: var(--font-size-45xl);
}
.section-title {
  position: relative;
  line-height: 64px;
  font-weight: 800;
  display: inline-block;
  width: 836px;
}
.title-8-col-center-align {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.description {
  align-self: stretch;
  position: relative;
  font-size: var(--lead-lead-1-size);
  line-height: 32px;
}
.title-description-8-col {
  position: absolute;
  height: 27.66%;
  width: 58.06%;
  top: 18.09%;
  right: 20.97%;
  bottom: 54.26%;
  left: 20.97%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.olas-hatalar-nceden-container,
.yazlm-kalitesini-arttryoru-container {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 31px;
}
.olas-hatalar-nceden-container {
  left: 25.09%;
}
.oluabilecek-riskleri-nlyoru-container,
.zaman-ve-maliyetten-container {
  position: absolute;
  top: 0;
  left: 55.06%;
  line-height: 31px;
}
.zaman-ve-maliyetten-container {
  left: 83.27%;
}
.caretcircledoubleright-icon,
.caretcircledoubleright-icon1,
.caretcircledoubleright-icon2 {
  position: absolute;
  height: 51.61%;
  width: 2.94%;
  top: 24.19%;
  right: 79.41%;
  bottom: 24.19%;
  left: 17.65%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.caretcircledoubleright-icon1,
.caretcircledoubleright-icon2 {
  right: 49.45%;
  left: 47.61%;
}
.caretcircledoubleright-icon2 {
  right: 21.23%;
  left: 75.83%;
}
.yazlm-kalitesini-arttryoru-parent {
  position: absolute;
  height: 16.49%;
  width: 75.56%;
  top: 62.77%;
  right: 12.08%;
  bottom: 20.74%;
  left: 12.36%;
  text-align: left;
  font-size: var(--lead-lead-1-size);
}
.image-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1556px;
  height: 1038px;
  object-fit: cover;
  mix-blend-mode: lighten;
}
.title-description-8-col-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 376px;
  overflow: hidden;
}
.stats-1 {
  position: absolute;
  top: 1773px;
  left: 0;
  background-color: var(--color-tomato-100);
  width: 1455px;
  height: 379px;
  text-align: center;
  font-size: var(--heading-h2-size);
  color: var(--default-white);
}
.illustration-icon {
  position: absolute;
  top: 0;
  left: 700.28px;
  border-radius: var(--br-5xs);
  width: 509.29px;
  height: 484.66px;
  object-fit: cover;
}
.kefet {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.button {
  position: absolute;
  top: 436.19px;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-tomato-100);
  width: 161.68px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.deneyimli-kadromuz-birok,
.kalite-ve-sre {
  position: absolute;
  top: 193.86px;
  left: 0;
  font-size: var(--heading-bold-heading-6-16-size);
  line-height: 32px;
  color: var(--text-body);
  display: inline-block;
  width: 528.49px;
  height: 161.55px;
}
.kalite-ve-sre {
  top: 0;
  font-size: var(--font-size-45xl);
  line-height: 76px;
  color: var(--text-title);
  width: 614.38px;
  height: 153.48px;
}
.button-parent,
.illustration-icon1,
.value {
  position: absolute;
  top: 0;
  left: 0;
  width: 614.38px;
  height: 484.19px;
}
.illustration-icon1,
.value {
  width: 1209.57px;
  height: 484.66px;
}
.illustration-icon1 {
  border-radius: var(--br-5xs);
  width: 509.29px;
  object-fit: cover;
}
.button-group,
.test-ynetimi-ve {
  position: absolute;
  top: 0;
  width: 553.75px;
}
.test-ynetimi-ve {
  left: 0;
  font-size: var(--font-size-45xl);
  line-height: 76px;
  display: inline-block;
  color: var(--text-title);
  height: 153.48px;
}
.button-group {
  left: 655.81px;
  height: 484.19px;
}
.value-parent,
.value1 {
  position: absolute;
  top: 605.83px;
  left: 0;
  width: 1209.57px;
  height: 484.66px;
}
.value-parent {
  top: 2313.75px;
  left: 122.27px;
  height: 1090.49px;
  color: var(--default-white);
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f8464a;
  width: 1455.12px;
  height: 541.2px;
}
.bilgi-stek-formu,
.copyright-2010-2021-,
.uzman-talep-formu {
  position: absolute;
  top: 438.21px;
  left: 105.09px;
  line-height: 32px;
  display: inline-block;
  width: 404.2px;
  height: 32.31px;
}
.bilgi-stek-formu,
.uzman-talep-formu {
  top: 105.01px;
  left: 0;
  width: 152.59px;
}
.bilgi-stek-formu {
  top: 48.47px;
  width: 126.31px;
}
.letiim1,
.section-5 {
  position: absolute;
  top: 0;
}
.letiim1 {
  left: 0;
  line-height: 24px;
  display: inline-block;
  color: var(--default-white);
  width: 57.6px;
  height: 24.23px;
}
.section-5 {
  left: 892.27px;
  width: 152.59px;
  height: 137.32px;
}
.belge-ve-yetkinlikler,
.hakkmzda,
.ortaklar {
  position: absolute;
  top: 161.55px;
  left: 0;
  line-height: 32px;
  display: inline-block;
  width: 82.86px;
  height: 32.31px;
}
.belge-ve-yetkinlikler,
.hakkmzda {
  top: 105.01px;
  width: 153.6px;
}
.hakkmzda {
  top: 48.47px;
  width: 88.92px;
}
.kurumsal1,
.section-4 {
  position: absolute;
  top: 0;
}
.kurumsal1 {
  left: 0;
  line-height: 24px;
  display: inline-block;
  color: var(--default-white);
  width: 75.79px;
  height: 24.23px;
}
.section-4 {
  left: 637.63px;
  width: 153.6px;
  height: 193.86px;
}
.eitim-ynetim-sistemi,
.erik-ynetim-sistemi,
.mteri-likileri-ynetim,
.nsan-sermayesi-ynetim {
  position: absolute;
  top: 218.1px;
  left: 0;
  line-height: 32px;
  display: inline-block;
  width: 168.75px;
  height: 32.31px;
}
.eitim-ynetim-sistemi,
.mteri-likileri-ynetim,
.nsan-sermayesi-ynetim {
  top: 161.55px;
  width: 244.54px;
}
.eitim-ynetim-sistemi,
.nsan-sermayesi-ynetim {
  top: 105.01px;
  width: 251.61px;
}
.eitim-ynetim-sistemi {
  top: 48.47px;
  width: 173.81px;
}
.rnler1,
.section-3 {
  position: absolute;
  top: 0;
}
.rnler1 {
  left: 0;
  line-height: 24px;
  display: inline-block;
  color: var(--default-white);
  width: 59.62px;
  height: 24.23px;
}
.section-3 {
  left: 284.96px;
  width: 251.61px;
  height: 250.41px;
}
.danmanlk,
.iot-destekli-zmler,
.kalite-ve-sre1,
.outsourcing,
.yazlm-gelitirme,
.zm-ve-hizmetler1 {
  position: absolute;
  top: 274.64px;
  left: 0;
  line-height: 32px;
  display: inline-block;
  width: 167.74px;
  height: 32.31px;
}
.danmanlk,
.kalite-ve-sre1,
.outsourcing,
.yazlm-gelitirme,
.zm-ve-hizmetler1 {
  top: 218.1px;
  width: 91.96px;
}
.kalite-ve-sre1,
.outsourcing,
.yazlm-gelitirme,
.zm-ve-hizmetler1 {
  top: 161.55px;
  width: 183.91px;
}
.outsourcing,
.yazlm-gelitirme,
.zm-ve-hizmetler1 {
  top: 105.01px;
  width: 92.97px;
}
.yazlm-gelitirme,
.zm-ve-hizmetler1 {
  top: 48.47px;
  width: 134.4px;
}
.zm-ve-hizmetler1 {
  top: 0;
  line-height: 24px;
  color: var(--default-white);
  width: 160.67px;
  height: 24.23px;
}
.footer,
.section-2,
.section-5-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 183.91px;
  height: 306.95px;
}
.footer,
.section-5-parent {
  top: 80.78px;
  left: 105.09px;
  width: 1044.86px;
  color: var(--text-disable);
}
.footer {
  top: 4814.8px;
  left: 0;
  width: 1455.12px;
  height: 541.2px;
  font-size: var(--heading-bold-heading-6-16-size);
  color: var(--default-white);
  font-family: var(--heading-bold-heading-6-16);
}
.bize-ulan,
.zm-hizmet-ve {
  position: absolute;
  top: 131.26px;
  left: 196.04px;
  line-height: 32px;
  font-weight: 800;
  display: inline-block;
  width: 258.69px;
  height: 32.31px;
}
.zm-hizmet-ve {
  top: 183.77px;
  left: 0;
  font-size: var(--lead-lead-1-size);
  font-weight: 500;
  width: 651.77px;
}
.group-child {
  position: absolute;
  top: 6.06px;
  left: 320.33px;
  border-radius: 50%;
  background-color: var(--color-tomato-100);
  width: 61.64px;
  height: 61.59px;
}
.users-icon {
  position: absolute;
  height: 38.22%;
  width: 18.6%;
  top: 0;
  right: 40.78%;
  bottom: 61.78%;
  left: 40.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bize-ulan1 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.bize-ulan-wrapper {
  position: absolute;
  top: 246.37px;
  left: 222.31px;
  border-radius: var(--br-5xs);
  background-color: var(--color-tomato-100);
  width: 206.14px;
  height: 70.68px;
  display: flex;
  flex-direction: row;
  padding: 25px 40px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--default-white);
}
.bize-ulan-parent {
  position: absolute;
  top: 4336.19px;
  left: 401.17px;
  width: 651.77px;
  height: 317.05px;
  text-align: center;
  font-size: var(--heading-h2-size);
}
.section-title1 {
  position: relative;
  line-height: 64px;
  font-weight: 800;
  display: inline-block;
  width: 1110px;
}
.description1 {
  align-self: stretch;
  position: relative;
  font-size: var(--lead-lead-1-size);
  line-height: 32px;
  font-weight: 500;
}
.section-heading {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--default-white);
  box-shadow: var(--grey-shadow);
  width: 170px;
  height: 96px;
}
.image-6-icon {
  position: absolute;
  height: 69.79%;
  width: 78.82%;
  top: 15.63%;
  right: 10.59%;
  bottom: 14.58%;
  left: 10.59%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.airbnb-logo {
  position: relative;
  width: 170px;
  height: 96px;
}
.col-1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.image-5-icon {
  position: absolute;
  height: 63.54%;
  width: 71.76%;
  top: 18.75%;
  right: 14.12%;
  bottom: 17.71%;
  left: 14.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bookmyshow-logo-icon {
  position: relative;
  width: 250px;
  height: 176px;
}
.col-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.image-2-icon {
  position: absolute;
  top: 15px;
  left: 19px;
  width: 132px;
  height: 66px;
  object-fit: cover;
}
.fedex-logo1,
.image-3-icon {
  position: absolute;
  overflow: hidden;
}
.image-3-icon {
  height: 68.75%;
  width: 77.65%;
  top: 15.63%;
  right: 11.18%;
  bottom: 15.63%;
  left: 11.18%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.fedex-logo1 {
  top: 33px;
  left: 35px;
  width: 100px;
  height: 30px;
}
.tmn-gr {
  position: relative;
  line-height: 32px;
  font-weight: 600;
}
.arrowright-icon {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.tmn-gr-parent {
  position: absolute;
  top: 22px;
  left: 1.5px;
  width: 167px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.image-4-icon {
  position: absolute;
  height: 61.46%;
  width: 69.41%;
  top: 19.79%;
  right: 15.29%;
  bottom: 18.75%;
  left: 15.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.logo-clouds-3,
.logos {
  display: flex;
  justify-content: flex-start;
}
.logos {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xl);
  font-size: var(--heading-bold-heading-6-16-size);
  color: var(--color-tomato-100);
}
.logo-clouds-3 {
  position: absolute;
  height: 11.37%;
  width: 101.04%;
  top: 66.58%;
  right: -1.04%;
  bottom: 22.05%;
  left: 0;
  background-color: var(--text-gray-100);
  overflow: hidden;
  flex-direction: column;
  padding: 59px 165px;
  box-sizing: border-box;
  align-items: flex-start;
  gap: 48px;
  text-align: center;
  font-size: var(--heading-h2-size);
  color: var(--text-gray-900);
}
.mterilerimizin-yksek-kalite1 {
  position: absolute;
  top: 86.83px;
  left: 80.84px;
  letter-spacing: 0.2px;
  line-height: 39.5px;
  display: inline-block;
  width: 1004.44px;
  height: 110.06px;
}
.kalite-ve-sre2 {
  position: absolute;
  top: 0;
  left: 366.81px;
  font-size: 36px;
  font-weight: 800;
  display: inline-block;
  width: 432.49px;
  height: 56.54px;
}
.ak-diyagramlar,
.dkman-analizi,
.kabul-ve-deerlendirme,
.kurallar-analizi,
.payda-analizi,
.prototipleme {
  position: absolute;
  top: 87.84px;
  left: 7.07px;
  font-weight: 800;
  display: inline-block;
  width: 286.98px;
  height: 31.3px;
}
.ak-diyagramlar,
.kabul-ve-deerlendirme,
.kurallar-analizi,
.payda-analizi,
.prototipleme {
  top: 386.72px;
}
.kabul-ve-deerlendirme,
.kurallar-analizi,
.payda-analizi,
.prototipleme {
  top: 87.84px;
  left: 861.96px;
}
.kabul-ve-deerlendirme,
.payda-analizi,
.prototipleme {
  top: 386.72px;
}
.kabul-ve-deerlendirme,
.payda-analizi {
  top: 87.84px;
  left: 434.52px;
}
.payda-analizi {
  top: 386.72px;
}
.ante-vulputate-ut,
.ante-vulputate-ut1,
.ante-vulputate-ut2,
.ante-vulputate-ut3,
.ante-vulputate-ut4,
.ante-vulputate-ut5 {
  position: absolute;
  top: 129.24px;
  left: 418.35px;
  font-size: var(--lead-lead-1-size);
  letter-spacing: 0.2px;
  line-height: 28px;
  display: inline-block;
  width: 319.32px;
  height: 84.82px;
}
.ante-vulputate-ut1,
.ante-vulputate-ut2,
.ante-vulputate-ut3,
.ante-vulputate-ut4,
.ante-vulputate-ut5 {
  top: 428.12px;
}
.ante-vulputate-ut2,
.ante-vulputate-ut3,
.ante-vulputate-ut4,
.ante-vulputate-ut5 {
  top: 129.24px;
  left: 845.79px;
}
.ante-vulputate-ut3,
.ante-vulputate-ut4,
.ante-vulputate-ut5 {
  top: 428.12px;
}
.ante-vulputate-ut4,
.ante-vulputate-ut5 {
  top: 129.24px;
  left: 0;
  width: 301.13px;
}
.ante-vulputate-ut5 {
  top: 428.12px;
}
.ellipse-div,
.group-child1,
.group-inner,
.group-item {
  position: absolute;
  top: 297.86px;
  left: 578.01px;
  border-radius: 50%;
  background-color: #ff5353;
  width: 45.47px;
  height: 45.44px;
}
.ellipse-div,
.group-child1,
.group-inner {
  top: 8.08px;
  left: 534.55px;
  background-color: #7553ff;
}
.ellipse-div,
.group-child1 {
  left: 1012.52px;
  background-color: #53c1ff;
}
.group-child1 {
  top: 297.86px;
  left: 990.29px;
  background-color: #ffba53;
}
.chartpieslice-icon,
.figmalogo-icon {
  position: absolute;
  height: 14.96%;
  width: 6.59%;
  top: 58.46%;
  right: 47.09%;
  bottom: 26.57%;
  left: 46.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.figmalogo-icon {
  height: 13.19%;
  width: 5.81%;
  top: 60.24%;
  right: 10.84%;
  left: 83.35%;
}
.group-icon {
  position: absolute;
  top: 305.94px;
  left: 111.16px;
  width: 77.81px;
  height: 76.74px;
}
.crown-icon,
.star-icon {
  position: absolute;
  height: 14.96%;
  width: 6.59%;
  top: 0.2%;
  right: 47.09%;
  bottom: 84.84%;
  left: 46.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.crown-icon {
  right: 10.41%;
  left: 83%;
}
.group-child2 {
  position: absolute;
  top: 0;
  left: 112.17px;
  width: 79.83px;
  height: 77.75px;
}
.dkman-analizi-parent {
  position: absolute;
  top: 287.77px;
  left: 0;
  width: 1165.11px;
  height: 512.93px;
}
.mterilerimizin-yksek-kalite-parent {
  position: absolute;
  top: 830.49px;
  left: 144.5px;
  width: 1165.11px;
  height: 800.7px;
  text-align: center;
  font-size: var(--font-size-5xl);
}
.desktop-1-item {
  position: absolute;
  top: 5253.01px;
  left: 1178.24px;
  width: 177.85px;
  height: 32.31px;
}
.desktop-1 {
  position: relative;
  background-color: var(--default-white);
  width: 100%;
  height: 5356px;
  overflow: hidden;
  text-align: left;
  font-size: var(--body-size);
  color: var(--color-black);
  font-family: var(--lead-lead-1);
}
